#navbar{
    display: flex;
    justify-content: right;
    height: 40px;

    align-items: center;
    border: 2px solid black;
   
   }
   .div1{
margin-left: 20px;
margin-top: 20px;
margin-right: 20px;
    box-sizing: border-box;

   }
   .div1 img{
    width: 300px;
    height: 300px;
   }
   #navbar a{
       text-decoration: none;
       align-items: center;
       margin-right: 60px;
       color:black;
    }
    a:hover{
   color:white;
     }